*.elc
*.log
\#*.*\#
\.\#*.*
*.swp
Makefile
server/
tramp

auto-save-list/

# auto-complete-mode
ac-comphist.dat

# session.el
.session

# mmm-mode build files
mmm-mode/elc-stamp
mmm-mode/config.status
mmm-mode/script
